body{
    background: rgba(212,228,239,1);
background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
}
#tablero td{
    border: 0;
    padding: 1.5px;
}

td{
    border: 0px;
}

#original, #girada{
    display: inline-block;
    padding-bottom: 1.2em;
}

#girada{
    padding-left: 2em;
}
#tablero{
    background: rgba(169,169,169,0.75);
}

#points{
    /*display: inline-block;*/
    float: right;
}

#tetris{
    display: inline-block;
}

