body{}
/*
    los td no tendran bordes
*/
#tablero td{
    border: 0;
    padding: 2.2;
}

td{
    border: 0px;
}

#original, #girada{
    display: inline-block;
    padding-bottom: 1.2em;
}

#girada{
    padding-left: 2em;
}
#tablero{
    background: rgba(128,128,128,0.3);
}

#points{
    /*display: inline-block;*/
    float: right;
}

#tetris{
    display: inline-block;
}

